<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CustomerCart</title>
</head>
<body>
    <table border="2">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Amount</th>
        <th>sumPrice</th>
    </tr>
    {% for cartItem in cartLists %}
    <tr>
        <td>{{ cartItem['product'] }}</td>
        <td>{{ cartItem['price'] }}</td>
        <td>{{ cartItem['amount'] }}</td>
        <td>{{ cartItem['sumPrice'] }}</td>
        <td><a href="{{ url_for('del_cart', id = cartItem['id']|int) }}">刪除</a></td>
    </tr>
    {% endfor %}
    </table>
    <p>購物車商品數量:{{ items_num }}</p>
    <a href="{{ url_for('/')}}">回到首頁</a>
</body>
</html>

